{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{request.user}}'s Profile{% endblock title %}

{% block content %}
<div class="row no-gutter">
    <div class="col-md-12">
        <div class="d-flex align-items-center py-3">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-7 mx-auto">
                        <div class="card card-body my-4 px-4 pt-4 col-lg-8 mx-auto shadow-lg">
                            <div class="d-flex justify-content-between">
                                <h3>Profile</h3>
                                <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#staticBackdrop">
                                Edit Profile    
                                </button>
                            </div>
                            <hr>
                            <img class="profile-pic p-3" src="{{request.user.profile.photo.url}}" width="100%">
                            <div class="text-center">
                                <h4>{{request.user.get_full_name}}</h4>
                                <span class="text-muted">@{{request.user.username}}</span>
                            </div>
                            <h6 class="d-flex justify-content-around mt-3">
                                <p><i class='fas fa-users'></i>&nbsp;{{request.user.followers.count}}&nbsp;Follower{{request.user.followers.count|pluralize}}</p>
                                <p><i class="fas fa-user-friends"></i>&nbsp;{{request.user.following.count}}&nbsp;Following</p>
                            </h6>
                        </div>
                    </div>
                    {% include 'account/profile_modal.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

{% with total_images=request.user.images_created.all %}
{% if total_images.count > 0 %}
<h3 class="text-center my-4">Bookmarked Images</h3>
<div class="row">
  {% include "images/image/list_ajax.html" with images=total_images %}
</div>
{% else %}
<h3 class="text-center my-4">No bookmark found!</h3>
{% endif %}
{% endwith %}

{% endblock %}