[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dj-database-url = "*"
gunicorn = "*"
whitenoise = "*"
python-dotenv = "*"
django-cloudinary-storage = "*"
pillow = "*"
django-crispy-forms = "*"
social-auth-app-django = "*"
coverage = "*"
sorl-thumbnail = "*"
django-hitcount = "*"
django-social-share = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.8"
