{% extends "base.html" %}

{% block title %}{{ user.username }}'s Profile {% endblock %}

{% block content %}

{% if request.user.username in request.get_full_path %}
<script>
  window.location.href="{% url 'account:update_user' %}";
</script>

{% endif%}

<div class="row no-gutter">
  <div class="col-md-12">
      <div class="d-flex align-items-center py-3">
          <div class="container">
              <div class="row">
                  <div class="col-12 col-lg-7 mx-auto">
                      <div class="card card-body my-4 px-4 pt-4 col-lg-8 mx-auto shadow-lg">
                          <div class="clearfix">
                              <h3 class="float-left">Profile</h3>
                              <a href="#" data-id="{{ user.id }}" data-action="{% if request.user in user.followers.all %}un{% endif %}follow" class="follow float-right btn btn-sm btn-outline-primary">
                                {% if request.user not in user.followers.all %}
                                  Follow
                                {% else %}
                                  Following
                                {% endif %}
                              </a>
                          </div>
                          <hr>
                          <img class="profile-pic p-3" src="{{user.profile.photo.url}}" width="100%">
                          <div class="text-center">
                              <h4>{{user.get_full_name}}</h4>
                              <span class="text-muted">@{{user.username}}</span>
                          </div>
                          <h6 class="d-flex justify-content-around mt-3">
                              <p><i class='fas fa-users'></i>
                                <span class="count">
                                  <span class="total">{{ user.followers.count }}</span>
                                  Follower{{ user.followers.count|pluralize }}
                                </span>
                              </p>
                              <p><i class="fas fa-user-friends"></i>&nbsp;{{user.following.count}}&nbsp;Following</p>
                          </h6>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

{% with total_images=user.images_created.all %}
{% if total_images.count > 0 %}
<h3 class="text-center my-4">Bookmarked Images</h3>
<div class="row">
  {% include "images/image/list_ajax.html" with images=total_images %}
</div>
{% else %}
<h3 class="text-center my-4">No bookmark found!</h3>
{% endif %}
{% endwith %}

{% endblock %}

{% block domready %}
  $('a.follow').click(function(e){
    e.preventDefault();
    $.post('{% url "account:user_follow" %}',
      {
        id: $(this).data('id'),
        action: $(this).data('action')
      },
      function(data){
        if (data['status'] == 'ok') {
          var previous_action = $('a.follow').data('action');

          // toggle data-action
          $('a.follow').data('action',
            previous_action == 'follow' ? 'unfollow' : 'follow');
          // toggle link text
          $('a.follow').text(
            previous_action == 'follow' ? 'Following' : 'Follow');
          // update total followers
          var previous_followers = parseInt(
            $('span.count .total').text());
          $('span.count .total').text(previous_action == 'follow' ? previous_followers + 1 : previous_followers - 1);
        }
      }
    );
  });
{% endblock %}