main {
  min-height: 85vh;
}

#facebook {
  background-color: #3b5998;
  color: white;
}

#twitter {
  background-color: #55acee;
  color: white;
}

#google {
  background-color: #db3236;
  color: white;
}
#or {
  display: flex;
  flex-direction: row;
}

#or:before,
#or:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid grey;
  margin: auto;
}
#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
